<section class="container">
    <div class="row g-3">
        <article class="col-12 col-md-6 col-lg-4" *ngFor="let user of arrUsers">
            <app-cards [miUser]="user"></app-cards>
        </article>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination mt-4">
          <li class="page-item"><button class="page-link" (click)="pPage(pagActual - 1)" [disabled]="pagActual === 1">Previous</button></li>
          <li class="page-item"><button class="page-link" (click)="pPage(pagActual + 1)" [disabled]="pagActual === totalPages">Next</button></li>
        </ul>
    </nav>
</section>
