.imgUsuario {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.cards {
    max-height: 500px;
    height: 100%;   
}


.icons {
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
    
}


